﻿<header class="ms-header ms-header-white">
    <!--ms-header-primary-->
    <div class="container container-full">
        <div class="ms-title">
            <a asp-action="Index" asp-controller="Home">
                <img width="300" height="90" src="~/assets/img/ozelot logo.png" alt="">
                <h1 class="animated fadeInRight animation-delay-6">
                    Ozelot
                    <span> Technologies</span>
                </h1>
            </a>
        </div>
    </div>
</header>