﻿
<nav class="navbar navbar-expand-md  navbar-static ms-navbar ms-navbar-primary">
    <div class="container container-full">
        <div class="navbar-header">
            <a class="navbar-brand" href="@Url.Action("Index","Home")">
                <span class="ms-logo ms-logo-sm">OT</span>
                <span class="ms-title">
                    Ozelot <strong> | Technologies</strong>
                </span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="ms-navbar" style="margin-left:15%;">
            <ul class="navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item dropdown">
                        <a asp-controller="Home" asp-action="Index" class="nav-link dropdown-toggle animated fadeIn animation-delay-7" role="button" aria-haspopup="true" aria-expanded="false" data-name="blog" title="Inicio">
                            Index
                        </a>

                    </li>
                }
            </ul>
            @if (User.Identity.IsAuthenticated)
            {
                @if (User.IsInRole("admin") || User.IsInRole("root"))
                {
                    <div class="pull-right" style="margin-left:60%; margin-bottom:18%;">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-raised dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="zmdi zmdi-account"></i>Mi cuenta
                                <i class="zmdi zmdi-chevron-down right only"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">@User.Identity.Name</li>
                                <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Cerrar sesi&oacute;n</a></li>
                            </ul>
                        </div>
                    </div>
                }
                else
                {
                    <div class="pull-right" style="margin-left:60%; margin-bottom:18%;">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-raised dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="zmdi zmdi-account"></i>Mi cuenta
                                <i class="zmdi zmdi-chevron-down right only"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">@User.Identity.Name</li>
                                <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Cerrar sesi&oacute;n</a></li>
                            </ul>
                        </div>
                    </div>
                }
            }
        </div> <!-- Fin del nav agregado-->
        <a href="#slidebar-menu" class="ms-toggle-left btn-navbar-menu">
            <i class="zmdi zmdi-menu"></i>
            <div class="ripple-container"></div>
        </a>
    </div>
    <!-- container -->
</nav>


<!-- ms-site-container -->
<div class="ms-slidebar sb-slidebar sb-left sb-style-overlay" id="ms-slidebar">
    <div class="sb-slidebar-container">
        <header class="ms-slidebar-header">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="ms-slidebar-login">
                    <a asp-controller="Account" asp-action="Logout" class="withripple">
                        <i class="zmdi zmdi-account"></i> Cerrar sesi&oacute;n
                    </a>
                </div>
            }
            <div class="ms-slidebar-title">
                <div class="ms-slidebar-t">
                    <span class="ms-logo ms-logo-sm">OT</span>
                    <h3>
                        <span>Ozelot | Technologies</span>
                    </h3>
                </div>
            </div>
        </header>
        @if (User.Identity.IsAuthenticated)
        {
            <ul class="ms-slidebar-menu" id="slidebar-menu" role="tablist" aria-multiselectable="true">
                <li class="card" role="tab" id="sch1">
                    <a class="collapsed" role="button" data-toggle="collapse" href="#sc1" aria-expanded="false" aria-controls="sc1">
                        <i class="zmdi zmdi-home"></i> Tablero
                    </a>
                    <ul id="sc1" class="card-collapse collapse" role="tabpanel" aria-labelledby="sch1" data-parent="#slidebar-menu">
                        <li>
                            <a asp-action="Index" asp-controller="Home">P&aacute;gina principal</a>
                        </li>
                    </ul>
                </li>
            </ul>
        }
    </div>
</div>
<script>
    $('#hov').hover(
        function () { $('#right').addClass('invisible') }

    )
    $(function () {

        $('#hov').mouseleave(function () {
            $('#right').removeClass('invisible');
        });
    });
</script>
<!-- END NAVIGATION -->
