﻿@using Domain.Entidades.Seguridad
@using Microsoft.AspNetCore.Identity
@model Domain.Entidades.Seguridad.LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="row">
    <div class="col-xl-6">
        <div class="card card-flat bg-transparent">
            <div class="card-body color-white">
                <header class="text-center mb-2">
                    <span class="ms-logo ms-logo-lg ms-logo-white center-block mb-2 animated zoomInDown animation-delay-5">OT</span>

                    <img width="300" height="100" src="~/assets/img/ozelot logo.png" alt="">
                    <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">
                        <span>EXÁMEN PRÁCTICO | ASP.NET CORE 2.1</span>
                    </h1>
                </header>

            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card index-1 animated zoomInRight animation-delay-7">
            <div class="card-body-big">
                <h1 class="color-primary">Acceso</h1>
                <form class="form-horizontal" asp-controller="Account" asp-action="Login">
                    <input type="hidden" value="@ViewData["ReturnUrl"]" name="returnUrl" />
                    @if (TempData["Error"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="zmdi zmdi-close"></i>
                            </button>
                            <strong>&iexcl;Error!</strong> @TempData["Error"]
                        </div>
                    }
                    
                    <fieldset>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <input type="email" required class="form-control" name="Email" placeholder="Correo">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <input type="password" required class="form-control" name="Password" placeholder="Contrase&ntilde;a">
                            </div>
                        </div>
                    </fieldset>
                    <button class="btn btn-raised btn-primary btn-block">
                        Iniciar
                        <i class="zmdi zmdi-sign-in no-mr ml-1"></i>
                    </button>
                </form>
                <div class="row">
                    <div class="col-lg-offset-6 col-lg-6">
                        <a href="@Url.Action("ForgotPassword","Account")" class="btn btn-primary">
                            <i class="fa fa-refresh"></i> Olvid&eacute; mi contrase&ntilde;a
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


